<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">CANDIDATOS</div>
            <h:dataTable value="#{registroBean.candidatosList}" var='list'>
                <h:column>
                    <f:facet name="header">CPF</f:facet>
                    #{list.cpf}
                </h:column>
                
                <h:column>
                    <h:commandLink value="#{list.cpf}" action="#{inscricaoBean.candidatoAction}"/>
                </h:column>
                
                <h:column>
                    <f:facet name="header">Cidade</f:facet>
                    #{list.cidade}
                </h:column>
                
                <h:column>
                    <f:facet name="header">Estado</f:facet>
                    #{list.estado}
                </h:column>
                
                <h:column>
                    <h:commandButton value="Excluir" action="#{inscricaoBean.excluirAction}"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>
